@media screen and (max-width: 768px) {
  // --------- container--------
  .container {
    @include flex(flex-start, center, column, 0, 80px !important);
  }
  // --------hero section------
  .hero {
    width: 100%;
    padding: 32px !important;
    @include flex(flex-start, flex-start, column, 0, 64px !important);
    /* hero_content */
    &__content {
      @include flex(
        flex-start,
        flex-start,
        column !important,
        0,
        64px !important
      );
      width: 100%;
    }
    &__img-box {
      width: 100% !important;
      height: 790px !important;
    }
    &__glow-bg {
      top: 60% !important;
      left: 60%;
    }
  }
  //  ------together section------
  .together {
    padding-inline: 32px;
    @include flex(center, center, column !important, 0, 40px !important);
    &__img-box {
      width: 100% !important;
      height: 654px !important;
      order: 2 !important;
    }
    &__texts {
      width: 100% !important;
      order: 1 !important;
    }
  }
  // --------everage section---------
  .everage {
    padding-inline: 32px;
    @include flex(center, center, column !important, 0, 40px !important);
    &__texts {
      width: 100% !important;
    }
    &__img-box {
      width: 100% !important;
      height: 670px !important;
    }
  }
  // -----------journey section------------
  .journey {
    padding-inline: 32px !important;
    &__title {
      text-align: left !important;
    }
    &__box {
      gap: 24px !important;
      grid-template-columns: 1fr !important;
    }
    &__step-number-arrow {
      margin-bottom: 0 !important;
    }
    &__box-item {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__step-number-arrow img {
      display: none;
    }
  }
  // -------membership_options section--------
  .options {
    padding-inline: 32px !important;
    &__title {
      text-align: left !important;
      margin-bottom: 40px !important;
    }
    &__container {
      @include flex(flex-start, center, row, 24px, 24px !important);
      flex-wrap: wrap;
    }
    &__card {
      &:nth-child(odd) {
        flex: 0 1 340px !important;
        padding: 24px;
      }
  
      &:nth-child(even) {
        flex: 0 1 340px !important;
        padding: 24px !important;
      }
    }
  }
}
